body{
    background-color: crimson;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}


nav.navbar{
    background-color: burlywood;
}
ul.menu{
    list-style-type: "🚜";
    list-style-position: inside;
    padding-left: 0%;
   
}

a.main-link{
    padding: 15px;

}

a.main-link:hover{
    color: antiquewhite;
    background-color: crimson;
}
ul li{
    padding: 10px;
}