:root{
    --color1:rgb(131, 118, 9);
    --color2:rgb(8, 140, 147);
    --color3:purple;
    --color4:rgb(179, 3, 185);
    --color5: yellow;
}


nav ul{
    background-color: var(--color1);
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: var(--color5);
    padding: 5px 10px;
  
}
nav ul li::after{
    content: "|";
    font-weight: bold;
    font-size: 2rem;
    color: var(--color5);

}
nav ul li{
    display: inline-block;
    
}
nav.menu ul li:last-child::after{
    content: "►";
    font-size: 1.4rem;
    margin-left: 1rem;
    color: var(--color3);
}
nav.menu ul li:first-child::before{
    content: "◀";
    font-size: 1.4rem;
    color: var(--color3);
    margin-right: 1rem;
}
a:hover{
    background-color: white;
    color: var(--color1);
}
